<div class="login-component-container">
    <div class="login-codo">Codo</div>
<div class="video-container">
    <video autoplay loop class="fillWidth">
        <source src="../../assets/video/Mock-up.mp4" type="video/mp4"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../assets/video/Mock-up.webm" type="video/webm"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
        <img src="../../assets/video/Mock-up.jpg" alt="">
    </div>
</div>

<div class="login-container">
    <!--sign up-->
    <div class="animate-container">
        <div *ngIf="isInSignup">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" [(ngModel)]="model.username"
                       required class="form-control" placeholder="your user name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" [(ngModel)]="model.password"
                       required class="form-control" placeholder="your password"
                       (keyup.enter)="signupSubmit()">
            </div>

            <div class="login-button-group text-center">
                <button type="submit" class="btn btn-block btn-primary" (click)="signupSubmit()">Submit</button>
            </div>

            <div class="text-center">
                <a class="already-have-account" [routerLink]="[]" (click)="signToggleDidClick()">already have a
                    account?</a>
            </div>

        </div>

        <!--login-->
        <div *ngIf="!isInSignup">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" [(ngModel)]="model.username"
                       required class="form-control" placeholder="your user name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" [(ngModel)]="model.password"
                       required class="form-control" placeholder="your password"
                       (keyup.enter)="loginButtonDidClick()">
            </div>
            <div class="login-button-group text-center">
                <button type="submit" class="btn btn-primary btn-md"
                        (click)="loginButtonDidClick()">Login
                </button>
                <button type="button" class="btn btn-default btn-md" (click)="signToggleDidClick()"> Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>
