<div class="list-page-contrainer">

    <div id="create-reminder" class="reminder-item" (click)="stopPropagationFilter($event)">
        <button class="reminder-priority btn"
                (click)="priorityBtnDidClick(newReminder)">
        <span [ngClass]="{'reminder-priority-normal': newReminder.priority==Reminder.PRIORITY_LOW,
        'reminder-priority-middle': newReminder.priority==Reminder.PRIORITY_MID,
        'reminder-priority-high': newReminder.priority==Reminder.PRIORITY_HIGH }"></span>
        </button>
        <div [ngClass]="{'has-error': titleEmptyError}">
            <input id="create-reminder-title" class="my-textinput reminder-title"
                   [(ngModel)]="newReminder.title"
                   placeholder="Create a new reminder"
                   (input)="titleEmptyError=false"/>
        </div>

        <!--detail-->

        <div class="create-reminder-collapse collapse-hide">
            <textarea class="my-textarea reminder-content" [(ngModel)]="newReminder.content"
                      placeholder="add content..."></textarea>

            <!--<hr style="margin: auto;">-->

            <div>
                <!--date picker-->
                <div class='datetimepicker-relative'>
                    <input id="create-reminder-datetimepicker" class="datetimepicker-input"
                           placeholder="remind me on a day"/>
                </div>
                <!--channel selector-->
                <div id="create-reminder-channel-select" class="channel-selector" style="display: inline">
                    <select class="selectpicker channel-item" data-style="btn-info" data-live-search="true">
                        <option value="null">Own</option>
                        <option *ngFor="let channel of myOwnChannels"
                                [attr.value]="channel.id">{{channel.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div style="clear: both"></div>
            <button class="btn btn-circle" (click)="submitNewReminder()">
                <i class="fa fa-plus"></i>
            </button>
        </div>


    </div>


    <div class="reminder-item-container" style="text-align: left;">
        <reminder-item *ngFor="let reminder of reminders"
                       [reminder]="reminder"
                       (removeReminder)="deleteReminder($event)"
                       (reminderUpdated)="updateReminder($event)"></reminder-item>
    </div>

</div>

