<ul style="text-align: left">
    <li *ngFor="let reminder of reminders">
        id: {{reminder.id}}
        <ul>
            <li>title: {{reminder.title}}</li>
            <li>content: {{reminder.content}}</li>
            <li>due: {{reminder.due}}</li>
            <li>priority: {{reminder.priority}}</li>
            <li>type: {{reminder.type}}</li>
            <li>creater_id: {{reminder.creater_id}}</li>
            <li>state: {{reminder.state}}</li>
        </ul>
    </li>
</ul>

<div >
    <datetime [(ngModel)]="date" [datepicker]="datepickerOpts"></datetime>
    My date: {{date}}
</div>



<button (click)="click()">click</button>



