<div class="reminder-item">

    <div class="reminder-item-info">
        <button class="btn btn-danger" (click)="deleteReminder(reminder)">Delete</button>
    </div>

    <!--date picker-->
    <div class='datetimepicker'>
        <input class="datetimepicker-input" placeholder="set due"/>
    </div>

    <!--detail-->
    <div>
        <input class="my-textinput reminder-title" [(ngModel)]="reminder.title" (change)="updateReminder()"/>
        <textarea class="my-textarea reminder-content" [(ngModel)]="reminder.content"
                  (change)="updateReminder()"></textarea>
        <textarea *ngIf="reminder.type == 0" class="my-textarea reminder-content" [(ngModel)]="reminder.remark"
                  (change)="updateReminder()" placeholder="add a remark..."></textarea>
    </div>

    <button class="reminder-priority btn"
            [ngClass]="{
                    'btn-primary': reminder.priority==Reminder.PRIORITY_LOW,
                    'btn-success': reminder.priority==Reminder.PRIORITY_MID,
                    'btn-danger': reminder.priority==Reminder.PRIORITY_HIGH}"
            (click)="priorityBtnDidClick(reminder)">
    </button>

    <div class="fortesting">
        <ul>
            id: {{reminder.id}}
            <li>type: {{reminder.type}}</li>
            <li>creater_id: {{reminder.creater_id}}</li>
            <li>state: {{reminder.state}}</li>
            <li>due: {{reminder.due}}</li>
        </ul>
    </div>

</div>
