<div class="reminder-item" (click)="$event.stopPropagation();">

    <div class="reminder-item-info" (click)="showCollapse();">
        id: {{reminder.id}}
        <button (click)="updateReminder()">update</button>

        <button class="btn btn-danger" (click)="deleteReminder(reminder)">Delete</button>
    </div>


<div class="collapse-contrainer">
    <!--date picker-->
    <div>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date datetimepicker'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <ul>
        <li>title: {{reminder.title}}</li>
        <li>content: {{reminder.content}}</li>
        <li>due: {{reminder.due}}</li>
        <li>priority: {{reminder.priority}}
            <button class="priority-btn-default btn"
                    [ngClass]="{
                    'btn-primary': reminder.priority==Reminder.PRIORITY_LOW,
                    'btn-success': reminder.priority==Reminder.PRIORITY_MID,
                    'btn-danger': reminder.priority==Reminder.PRIORITY_HIGH}"
                    (click)="priorityBtnDidClick(reminder)">
            </button>
        </li>
        <li>type: {{reminder.type}}</li>
        <li>creater_id: {{reminder.creater_id}}</li>
        <li>state: {{reminder.state}}</li>
    </ul>

</div>

</div>
