<div class="reminder-item" [ngClass]="{'reminder-finished': reminder.state == Reminder.COMPLETED}">
    <div class="finished-wrapper-before" [ngClass]="{'finished-wrapper': reminder.state == Reminder.COMPLETED}">
    </div>

    <button class="reminder-priority btn"
            (click)="priorityBtnDidClick(reminder)">
        <span [ngClass]="{'reminder-priority-normal': reminder.priority==Reminder.PRIORITY_LOW,
        'reminder-priority-middle': reminder.priority==Reminder.PRIORITY_MID,
        'reminder-priority-high': reminder.priority==Reminder.PRIORITY_HIGH }"></span>
    </button>


    <!--detail-->
    <div>
        <input class="my-textinput reminder-title" [(ngModel)]="reminder.title" (change)="updateReminder()"
               [readonly]="!(reminder.channel==undefined || reminder.channel.type==1)"/>

        <!--channel info-->
        <div *ngIf="reminder.channel!=undefined" [ngClass]="{'reminder-channel-my-channel': reminder.channel.type == 1}"
             class="channel-item">{{reminder.channel.name}}
        </div>

        <textarea class="my-textarea reminder-content" [(ngModel)]="reminder.content"
                  (change)="updateReminder()"
                  [readonly]="!(reminder.channel==undefined || reminder.channel.type==1)"></textarea>

        <div *ngIf="reminder.type==0">
            <hr>
            <textarea class="my-textarea reminder-content" [(ngModel)]="reminder.remark"
                      (change)="updateReminder()" placeholder="add a remark..."></textarea>
        </div>
    </div>



    <!--date picker-->
    <div class='datetimepicker'>
        <div class="datetimepicker-relative">
            <input class="datetimepicker-input" placeholder="set due"/>
        </div>
    </div>
    <i class="reminder-delete-btn fa fa-remove" (click)="deleteReminder(reminder)"></i>

    <!--state ring-->
    <div class="reminder-state" (click)="changeReminderState()">
        <div class="reminder-state-ring">
            <div class="reminder-state-point"
                 [ngClass]="{'reminder-state-finished': reminder.state == Reminder.COMPLETED}"></div>
        </div>
    </div>


</div>

<!--<div class="fortesting">-->
<!--<ul>-->
<!--id: {{reminder.id}}-->
<!--<li>type: {{reminder.type}}</li>-->
<!--<li>creator_id: {{reminder.creator_id}}</li>-->
<!--<li>state: {{reminder.state}}</li>-->
<!--<li>due: {{reminder.due}}</li>-->
<!--</ul>-->
<!--</div>-->
